.form{
    margin: 5px;
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 50px;
    width: 70%;
    text-align: center;
    align-content: center;
}

.expense{
    color: red;
}

.income{
    color: green;
}